@font-face {
  font-family: "Product Sans";
  src: url("./product-sans/product-sans-bold-italic.ttf") format(truetype);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Product Sans";
  src: url("./product-sans/product-sans-bold.ttf") format(truetype);
  font-weight: 700;
}
@font-face {
  font-family: "Product Sans";
  src: url("./product-sans/product-sans-italic.ttf") format(truetype);
  font-style: italic;
}
@font-face {
  font-family: "Product Sans";
  src: url("./product-sans/product-sans-regular.ttf") format(truetype);
}
