i.icon {
  display: inline-block;
}
i.icon::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
}

.icon__door::before {
  mask-image: url(/components/images/icons/door.svg);
  -webkit-mask-image: url(/components/images/icons/door.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
}
.icon__google::before {
  mask-image: url(/components/images/icons/google.svg);
  -webkit-mask-image: url(/components/images/icons/google.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
}
