@import "./components/font/font.css";

:root {
  --primary: #6996db;
  --primary-light: #f0f6ff;
  --secondary: #333333;
  --card-bg: #dddbdb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Product Sans", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}
