@import "./global.css";

.ctrl--main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: var(--primary);
}

.ctrl--main img {
  margin-bottom: 10px;
}
.ctrl--main .btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #fff;
  margin-top: 10px;
  padding: 0 20px 0 0;
}
.ctrl--main i.icon {
  background: #fff;
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
.ctrl--main i.icon::before {
  background: var(--primary);
  margin: 10px;
}
.ctrl--main i.icon.icon__google::before {
  width: 20px;
  height: 20px;
  margin: 12px;
}
